:host {
  background-color: #303030;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}

.mat-raised-button {
  margin: 20px;
  padding: 40px 100px;
  font-size: 32px;
}

.settings {
  position: absolute;
  top: 10px;
  right: 10px;
}

.battery {
  width: 200px;
  height: 200px;
  background-image: url("../../assets/charging.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.battery-level {
  position: relative;
  background-color: greenyellow;
  top: 48px;
  height: 96px;
  left: 15px;
  width: 154px;
  border-radius: 8px;
  color: black;
  font-size: 50px;
}

.battery-percent {
  position: absolute;
  bottom: 15px;
  font-size: 24px;
  width: 100%;
  text-align: center;
}
