<button mat-icon-button (click)="openSettings()" class="settings">
  <mat-icon>settings</mat-icon>
</button>

<button mat-icon-button (click)="disconnect()" class="disconnect">
  <mat-icon>arrow_back</mat-icon>
</button>

<div class="battery">
  <div class="battery-level" [style.width.px]="batteryLevelWidth"></div>
  <div class="battery-percent">{{ batteryPercent }} %</div>
</div>

<button mat-raised-button color="primary" (click)="turnOn()">ON</button>
<button mat-raised-button color="primary" (click)="turnOff()">OFF</button>
