:host {
  background-color: #303030;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  padding: 30px;
}

.back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.header {
  position: absolute;
  top: 20px;
  left: 60px;
  font-size: 26px;
  font-weight: 200;
}
ion-label {
  font-size: 26px;
}
