<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/state"></ion-back-button>
      </ion-buttons>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list>
      <ion-list-header>
        <ion-label>Front Light</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Front light animation</ion-label>
        <ion-select [(ngModel)]="frontMode" interface="action-sheet" (ngModelChange)="onFrontAnimationChanged($event)">
          <ion-select-option *ngFor="let animation of animations; index as i" [value]="animation">
            {{ animation }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-range
          min="0"
          max="1"
          step="0.01"
          snaps="true"
          pin="true"
          debounce="100"
          [(ngModel)]="frontPower"
          (ngModelChange)="updateFrontLightSettings($event)"
        >
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range
          min="0"
          max="255"
          step="1"
          snaps="true"
          pin="true"
          debounce="100"
          [(ngModel)]="frontRed"
          (ngModelChange)="updateFrontLightSettings($event)"
        >
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range
          min="0"
          max="255"
          step="1"
          snaps="true"
          pin="true"
          debounce="100"
          [(ngModel)]="frontGreen"
          (ngModelChange)="updateFrontLightSettings($event)"
        >
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range
          min="0"
          max="255"
          step="1"
          snaps="true"
          pin="true"
          debounce="100"
          [(ngModel)]="frontBlue"
          (ngModelChange)="updateFrontLightSettings($event)"
        >
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-list-header>
        <ion-label>Back Light</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Back light animation</ion-label>
        <ion-select [(ngModel)]="backMode" interface="action-sheet" (ngModelChange)="onBackAnimationChanged($event)">
          <ion-select-option *ngFor="let animation of animations; index as i" [value]="animation">
            {{ animation }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-range
          min="0"
          max="1"
          step="0.01"
          snaps="true"
          pin="true"
          debounce="100"
          [(ngModel)]="backPower"
          (ngModelChange)="updateBackLightSettings($event)"
        >
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range
          min="0"
          max="255"
          step="1"
          snaps="true"
          pin="true"
          debounce="100"
          [(ngModel)]="backRed"
          (ngModelChange)="updateBackLightSettings($event)"
        >
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range
          min="0"
          max="255"
          step="1"
          snaps="true"
          pin="true"
          debounce="100"
          [(ngModel)]="backGreen"
          (ngModelChange)="updateBackLightSettings($event)"
        >
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range
          min="0"
          max="255"
          step="1"
          snaps="true"
          pin="true"
          debounce="100"
          [(ngModel)]="backBlue"
          (ngModelChange)="updateBackLightSettings($event)"
        >
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
