<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/state"></ion-back-button>
      </ion-buttons>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list>
      <ng-container *ngFor="let light of lights">
        <h1>{{ light.name }}</h1>
        <app-animation-picker
          [currentAnimation]="light.setting"
          [animations]="light.settings"
          (onAnimationChange)="onAnimationChanged(light.name, $event)"
        ></app-animation-picker>

        <ng-container *ngIf="config[light.name]">
          <ng-container *ngFor="let property of config[light.name].schema.properties | keyvalue">
            <h2>{{ property.key }}</h2>
            <ion-item>
              <ion-range
                min="{{ property.value.minimum }}"
                max="{{ property.value.maximum }}"
                step="1"
                snaps="true"
                pin="true"
                debounce="100"
                [(ngModel)]="config[light.name].value[property.key]"
                (ngModelChange)="updateLightSettings(light.name, property.key, $event)"
              >
                <ion-icon slot="start" size="small" name="sunny"></ion-icon>
                <ion-icon slot="end" name="sunny"></ion-icon>
              </ion-range>
            </ion-item>
          </ng-container>
        </ng-container>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-app>
